<%= form_for :edit_team, url: team_path(@team.id), method: :patch do |team| %>
	<h4>
		<%= team.label :lead, "Change Lead"%>
	</h4>
	<p>
		<%= select_tag :lead, options_for_select(@lead_options.map { |e| ["#{e.first_name} #{e.last_name}", e.id] }), prompt: 'Pod Lead', class: "btn-primary select", type: "button" %>
	</p>
	<h5>Remove Members</h5>
	<% @team.members.each do |employee| %>
		<%= check_box_tag "remove[]", employee.id, false, class: "input-check-box" %>
		<%= "#{employee}" %>
	<% end %>
	<h5> Add Members</h5>
	<% @employees_not_on_team.each do |e| %>
		<%= check_box_tag "add[]", e.id, false, class: "input-check-box"%>
		<%= "#{e.first_name} #{e.last_name}" %>
	<% end %>
	<p>
		<%= team.submit "Submit Changes", class: "btn btn-success"%>
	</p>
<hr>
	<h1> Pod <%= @team.name %> </h1>
	<% if @team.lead_id.nil? %>
		<p><i> Pod Lead has not been set</i></p>
	<% else %>
		<h4> Current Lead: </h4>
		<h5>
			<%= @lead.first_name %> <%= @lead.last_name %>
		</h5>
		<br>
	<% end %>
	<h4> Pod Members </h4>
	<% @team.members.each do |employee|%>
		<h5> 
			- <%= employee.first_name %> <%= employee.last_name %>
		</h5>
	<% end %>
<% end %>
