<br>
<div class="login-container">
  <div class="form-login">
    <div class="login-header"><h4>Welcome back.</h4></div>
    <br>
    <%= form_tag '/login' do %>
      <%= text_field_tag :user_name, nil, class: "form-control input-sm chat-input", placeholder: "username" %>
      <br>
      <%= password_field_tag :password, nil, class: "form-control input-sm chat-input", placeholder: "password" %>
      <br>
      <div class="wrapper">
        <span class="group-btn">
          <%= submit_tag "Login", class: "btn btn-primary btn-md" %>
        </span>
      </div>
    <% end %>
  </div>
</div>
