<h6 class="mb-0">
	Add Comment
</h6>

<%= form_for([@note, @note.comments.build]) do |f| %>
	<p>
		<% f.label :body %>
		<%= f.text_area(:body, {:class => 'form-control'}) %>
	</p>
	<p>
		<%= f.submit({:class => 'btn btn-success'}) %>
	</p>
<% end %>
