<br>
<h2><%= @employee.first_name %> <%= @employee.last_name%></h2>

<%= form_for :employee_update, url: admin_path(@employee), method: :patch do |f| %>
	<br>

	<p>
		First Name: 
    <%= f.text_field :first_name, value: @employee.first_name, required: true %>
	</p>

	<p>
		Last Name: 
    <%= f.text_field :last_name, value: @employee.last_name, required: true %>
	</p>

	<br>

	<p>
		Email: 
    <%= f.text_field :email_address, value: @employee.email_address, required: true %>
	</p>

	<br>

	<% if @employee.as_user.admin? %>
		<%= link_to "Remove Admin", remove_admin_admin_path(@employee.id), method: :delete, :class => 'btn btn-outline-secondary',
				data: {confirm: "Remove #{@employee.first_name} #{@employee.last_name} from admin list?"} %>
	<% else %>
		<%= link_to "Make Admin", set_admin_admin_path(@employee.id), method: :patch, :class => 'btn btn-outline-secondary',
				data: {confirm: "Make #{@employee.first_name} #{@employee.last_name} an admin?"} %>
	<% end %>

	<%= f.submit "Save Employee", ({:class => 'btn btn-success'}) %>
	<%= link_to "Cancel", admin_index_path, :class => "btn btn-danger" %>
<% end %>
