<%= button_to "Add Employee", new_admin_path, method: :get, class: "btn btn-block btn-success create-note-btn" %>
<br>
<h2>Employees</h2>
<br>

<div class="container">
	<div class="row col-md-12 col-md-offset-2">
    <table class="table table-striped">
			<thead>
				<tr>
					<th style="width:10%;">Admin</th>
					<th>Name</th>
					<th>Email</th>
					<th class="text-center" style="width:300px;">Action</th>
				</tr>
			</thead>
			<% @employees.each do |employee| %>
				<tr class="custab">
					<td>
						<% if employee.as_user.admin? %>
							<h5 class = "text-muted"><i>✓</i></h5>
						<% end %>
					</td>
					<td><%="#{employee}"%></td>
					<td><%= employee.email_address %></td>
					<td class="text-center">
						<%= link_to "History", employee_path(employee.id), class: 'btn btn-info btn-xs' %>
						<%= link_to "Edit", edit_admin_path(employee.id), class: 'btn btn-warning btn-xs' %>
						<%= link_to "Delete", employee_path(employee), method: :delete, class: 'btn btn-danger btn-xs',
													data: {confirm: 'Are you sure you want to eliminate this employee?'} %>
					</td>
				</tr>
			<%end%>
    </table>
	</div>
</div>