<br>
<%= button_to "Back to Employees", admin_index_path, method: :get, class: "btn btn-block btn-dark" %>
<br>
<h1> Employee Page<h1><%= link_to "Edit Employee Details", edit_admin_path(@employee), :class => 'btn btn-warning' %>
<hr>
<h5> Employee Name </h5>
<p> <%= @employee.first_name %> <%= @employee.last_name %></p>

<h4> Employee Email </h4>
<p> <%= @employee.email_address %> </p>