<br>
<h3>Change Password</h3>

<%= form_for :password, local: true, url: '/password', method: :patch do |f| %>
  <p>
    <%= f.password_field :old, placeholder: 'old password' %>
  </p>
  <p>
    <%= f.password_field :new, placeholder: 'new password' %>
  </p>
  <p>
    <%= f.password_field :confirm_new, placeholder: 'confirm new password' %>
  </p>
  <%= f.submit class: 'btn btn-primary' %>
<%end%>
