<% if current_user.as_employee.present? %>
	<%= button_to "Create Note", new_note_path, class: 'btn btn-block btn-success create-note-btn', method: :get %>
<% end %>

<br>
<div class = "notes-wrapper" >
	<% @week.reverse.each do |day| %>
		<div class = "day-card">
			<h6><%= day.strftime('%A, %b %d') %></h6>

		</div>
	<% end %>
</div>
